{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "sequelize",
    "@typescript-eslint"
  ],
  "extends": [
      "plugin:import/recommended",
      "plugin:import/typescript",
      "prettier"
  ],
  "rules": {
    "sequelize/create-indexes-concurrently": "error"
  }
}
